@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-text-color: #183b56;
  --secondary-text-color: #577592;
  --accent-color: #2294ed;
  --accent-color-dark: #1d69a3;
  --padding-inline-section: 20px;
}

body {
  font-family: "poppins", sans-serif;
  color: var(--primary-text-color);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1rem;
}

p {
  font-family: "roboto", sans-serif;
  font-size: 1.25rem;
  color: var(--secondary-text-color);
  line-height: 1.8rem;
}

a {
  text-decoration: none;
  display: inline-block;
}
ul {
  list-style: none;
}

/* Utility classes */

.small-bold-text {
  font-size: 1rem;
  font-weight: 700;
}

.container {
  max-width: 1180px;
  margin-inline: auto;
  padding-inline: var(--padding-inline-section);
}
.flex {
  display: flex;
  align-items: center;
}
.hover-link {
  color: var(--primary-text-color);
  transition: 0.3s ease-out;
}

.hover-link:hover {
  color: var(--accent-color);
}

.primary-btn {
  background-color: var(--accent-color);
  border-radius: 6px;
  font-weight: 500;
  color: white !important;
  padding: 12px 24px;
  box-shadow: 0 0 2px var(--secondary-text-color);
}

.primary-btn:hover {
  background-color: var(--accent-color-dark);
}

.secondary-btn {
  border: 0.5px solid var(--secondary-text-color);
  border-radius: 6px;
  font-weight: 500;
  color: var(--primary-text-color);
  padding: 12px 24px;
  transition: 0.2s ease-out;
}
.secondary-btn:hover {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

/* Top banner */
.top-banner {
  background-color: #4fb3d4;
  background-image: url(asset/asset\ 32.png);
  background-size: 300px;
}

.banner-text {
  color: white;
  padding: 15px 30px;
  text-align: center;
}
/* nav bar */

.main-nav {
  margin-top: 20px;
  justify-content: space-between;
}
.company-logo img {
  width: 200px;
}
.nav-links {
  flex-basis: 730px;
}

.nav-links ul {
  justify-content: end;
  gap: 40px;
}

/* ?header section */

header {
  padding: 50px var(--padding-inline-section) 0;
}

.header-section {
  justify-content: center;
  gap: 50px;
}
header-left {
  max-width: 40vw;
}
header-left h1 {
  margin-top: 2opx;
}
.get-started-btn {
  margin-top: 20px;
}

.header-right .header_img {
  width: 600px;
}
/* companies section */
.companies-header {
  margin-block: 30px;
  text-align: center;
  color: var(--primary-text-color);
  font-family: "poppins", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
}

.logos {
  justify-content: space-between;
  flex-wrap: wrap;
}
.logo {
  height: 46px;
}

/* features section */

.features-section {
  padding: 80px var(--padding-inline-section) 0;
  background-image: url(./asset/asset\ 34.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.features-header,
.example-header {
  text-align: center;
}

.features-header h2 {
  margin-bottom: 20px;
}
.features-area {
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
  margin-top: 20px;
}

.features-card {
  flex-direction: column;
  gap: 20px;
  max-width: 30%;
  text-align: center;
}

.features-card img {
  width: 40px;
  height: 40px;
}

/* big features section */

.big-features {
  padding: 30px var(--padding-inline-section) 0;
}

.big-feature-container {
  gap: 30px;
}

.feature-img img {
  width: 100%;
}

.feature-desc {
  flex-direction: column;
  align-items: flex-start;
}

/* example section */

.example-heading-text {
  margin-bottom: 20px;
}

.examples-area {
  justify-content: space-between;
  margin-block: 30px;
}
.examples-card {
  width: 23%;
  min-height: 300px;
  position: relative;
  background: black;
  background: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8)),
    url(./asset/asset\ 37.jpeg);
  background-size: cover;
  transition: 0.3s ease-out;
}

.examples-card:hover {
  box-shadow: 0 0 10px #888;
}

.card-text {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  color: #fff;
}

.examples-card:nth-child(2) {
  background: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8)),
    url(./asset/asset\ 36.jpeg);
  background-size: cover;
}

.examples-card:nth-child(3) {
  background: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8)),
    url(./asset/asset\ 39.jpeg);
  background-size: cover;
}

.examples-card:nth-child(4) {
  background: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8)),
    url(./asset/asset\ 38.jpeg);
  background-size: cover;
}

.cta-section-container {
  flex-direction: column;
  gap: 30px;
  color: #fff;
}
.cta-section {
  padding: 120px var(--padding-inline-section) 80px;
  background-color: #183b54;
}

/* footer */

footer {
  padding-block: 80px;
  background-color: #cbced1;
}
.link-column {
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.footer-container {
  align-items: flex-start;
  justify-content: space-between;
}

/* sub footer */

.sub-footer {
  background-color: #8a8e93;
  padding: var(--padding-inline-section);
}

.sub-footer-container {
  justify-content: center;
  gap: 30px;
}
